
.contactMeBackground {
  background-color: $primaryColorTwo;
}

.contactMe {
  background-color: $primaryColorTwo;
  h2 {
    margin: 0;
    padding-top: 8%;
    text-align: center;
  }
  .fab {
    font-size: 3rem;
    display: inline;
    padding: 40px;
    color: $darkComplement;
  }
}

.contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  a {
    text-decoration: none;
    padding-top: 40px;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactFormTop {
  display: flex;
  flex-direction: row;
}

.nameField, .emailField {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.username, .email {
  width: 380px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px $darkComplement;
}

textarea {
  width: 800px;
  border-radius: 10px;
  font-family: $bodyFont;
  font-size: 1rem;
  color: #808080;
  padding-left: 5px;
  box-shadow: 2px 2px $darkComplement;
}

.submitButton {
  margin-top: 30px;
  height: 60px;
  display: block;
  width: 100%;
  border-radius: 10px;
  background-color: $darkComplement;
  color: $backgroundColor;
  font-size: 1.5rem;
  &:hover {
    background-color: $backgroundColor;
    color: $darkComplement;
  }
}
