
.contactMeBackground {
  background-color: $primaryColorTwo;
}

.contactMe {
  background-color: $primaryColorTwo;
  h2 {
    margin: 0;
    padding-top: 8%;
    text-align: center;
    color: $primaryColorOne;
  }
  .contactBox {
    background-color: $primaryColorFour;
    margin-bottom: 150px;
    box-shadow: -10px 10px $primaryColorThree;

}
}

  .fab {
    font-size: 1rem;
    display: inline;
    padding: 40px;
    color: $primaryColorOne;
  }

.contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  a {
    text-decoration: none;
    padding-top: 40px;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
}

.contactFormTop {
  display: flex;
  flex-direction: row;
  border-style: none;
}

.nameField, .emailField {
  display: flex;
  flex-direction: column;
  border-style: none;
}

.username, .email {
  width: 380px;
  height: 40px;
  margin: 20px;
}

textarea {
  width: 800px;
  font-family: $bodyFont;
  font-size: 1rem;
  color: #808080;
  padding-left: 5px;
  border-style: none;
}

.submitButton {
  margin: 30px 0;
  height: 60px;
  display: block;
  width: 100%;
  background-color: $primaryColorOne;
  color: $backgroundColor;
  font-size: 1.5rem;
  &:hover {
    background-color: $backgroundColor;
    color: $darkComplement;
  }
}
