
header {
  height: 90vh;
  display: block;

  .logoContainer {
    position: relative;
  }

  .title {
    position: absolute;
    top: -300px;
    left: 45px;
    z-index: 1;
    padding-top: 700px;
    padding-left: 400px;
    height: 30px;
    h2 {
      font-size: 40px;
      color: $primaryColorOne;
      display: inline;
      }
    .highlighted {
      background-color: $primaryColorThree;
      }
    }

  ul {
    margin: 30px 20px 0 20px;
    float: right;
    background-color: $primaryColorTwo;
    li a {
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    color: $primaryColorOne;
    font-size: 1rem;
    font-family: $headerFont;
    display: inline-block;
    padding: 5px;
    &:hover {
      background-color: $primaryColorThree;
      height: 20px;
      color: $primaryColorOne;
      }
    }
  }
}

body {
	font-family: Arial;
	font-size: 5px;
	line-height: 1.5;
	
	background-color: #e0fddf;
	color: #050748;
}

canvas {
  position:  absolute;
  top:  50%;
  left:  50%;
  transform:  translate(-50%, -50%);
}




