$primaryColorOne: #e8dfda;
$primaryColorTwo: #b5ced2;
$primaryColorThree: #3f1e39;
$primaryColorFour: #986970;
$primaryColorComplement: #fefdfd;
$darkComplement: #363d3f;
$textColor: #14110F;
$backgroundColor: #f3f3f4;
$backgroundColorTwo: #ffffff;
$headerFont: 'Cinzel', serif;
$bodyFont: 'Open Sans', sans-serif;
