$primaryColorOne: #050748;
$primaryColorTwo: #e0fddf;
$primaryColorThree: #f8fb05;
$primaryColorFour: #ffffff;
$primaryColorComplement: #fefdfd;
$darkComplement: #065635;
$textColor: #14110F;
$backgroundColor: #f3f3f4;
$backgroundColorTwo: #ffffff;
$headerFont: 'Poppins', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
